.table {
    border-collapse: collapse;
    width: 100%;
}

.table__caption {
    text-align: left;
    margin: 10px 0;
}

.table__tableCell {
    border: 2px solid;
    padding: 10px;
    text-align: center;
    background-color: rgb(254, 254, 214);
}

.table__tableCell:hover {
    background-color: rgb(223, 223, 174);
}

.table__tableCell--header {
    background-color: rgb(164, 164, 251);
}

.table__tableCell--header:hover {
    background-color: rgb(213, 213, 253);
}